<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title"><i class="fa fa-play-circle"></i>&nbsp;&nbsp;Additional Feature</h6>
                    </div>
                    <div class="card-body">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#addCategory">Add</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="remove()">Delete</button>
                        </div>
                        <hr class="my-4">
                        <ag-grid-angular #agGrid style="width: 100%; height:510px;" class="ag-theme-alpine"
                            [rowData]="features" [columnDefs]="columnDefs" [pagination]="true"
                            [paginationPageSize]="10" rowSelection="multiple" [defaultColDef]="defaultColDef"
                            (cellValueChanged)="onCellValueChanged($event)" (selectionChanged)="onSelectionChanged($event)">
                        </ag-grid-angular>
                    </div>
                </div>

                <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel">
                                    <i class="fa fa-play-circle"></i>&nbsp;&nbsp;Add Feature
                                </h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="error-message" *ngIf="errorMessage">
                                    <span>{{ errorMessage }}</span>
                                </div>
                                <form class="px-4">
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between">
                                            <label class="sm">Name</label><span>:</span>
                                        </div>
                                        <div class="col-4">
                                            <input type="text" class="form-control form-control-sm" name="firstName" [(ngModel)]="feature.name">
                                        </div>
                                        <span class="require">*</span>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between">
                                            <label class="sm">Sequence Number</label><span>:</span>
                                        </div>
                                        <div class="col-4">
                                            <input type="text" class="form-control form-control-sm" name="urlId" [(ngModel)]="feature.sequenceNumber">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" #closeModal>Cancel</button>
                                    <button type="button" class="btn btn-primary btn-sm" (click)="add()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>