<div class="container-fluid">
    <div class="row main">
        <div class="col-lg-10 offset-1">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title"><i class="fa fa-play-circle">&nbsp;&nbsp;</i>Add New Product</h6>
                </div>
                <div class="card-body">
                    <nav class="navbar navbar-expand-sm navbar-back bg-light">
                        <ul class="navbar-nav flex-nowrap">
                            <li class="navbar-item" *ngFor="let productMenu of productMenus"><a
                                    class="nav-link nav-back mx-1 small" href="javascript: void(0)"
                                    (click)="gotoPage(productMenu.id)">{{productMenu.name}}</a></li>
                        </ul>
                    </nav>
                    <div class="mt-5" *ngIf="currentMenu == 'newProduct'">
                        <p class="h4 font-weight-bold">New Product</p>
                        <hr>
                        <form>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label for="category">Category</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <select class="form-control" id="category" name="category" [(ngModel)]="product.category">
                                        <option class="active" value="">Choose</option>
                                        <option value="{{ category.id }}" *ngFor="let category of categories">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label for="brand">Brand</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <select class="form-control" id="brand" name="brand" [(ngModel)]="product.brand">
                                        <option class="active" value="">Choose</option>
                                        <option value="{{ brand.id }}" *ngFor="let brand of brands">{{ brand.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label for="productname">Name of the product</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" id="productname" name="name" [(ngModel)]="product.name">
                                </div><span class="required">*</span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label for="productname">Price</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="product.price">
                                </div><span class="required">*</span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4">
                                    <label>VAT included</label><span>:</span>
                                </div>
                                <div class="form-check col-3 ml-3">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" [(ngModel)]="product.vtaIncluded">
                                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-question" title="This is a help"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1"><label>VAT Unit</label><span>:</span></div>
                                <div class="col-2">
                                    <select class="form-control" [(ngModel)]="product.vtaUnit">
                                        <option value="usd">USD</option>
                                        <option value="euro">EURO</option>
                                        <option value="tl">TL</option>
                                        <option value="pound">POUND</option>
                                        <option value="gold">GOLD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Stock Code</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="stockcode" [(ngModel)]="product.stockCode">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Bar Code</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="barcode" [(ngModel)]="product.barCode">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Stock Quantity</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-6"><input type="number" class="form-control" [(ngModel)]="product.quantity"></div>
                                        <div class="col-6">
                                            <select class="form-control" [(ngModel)]="product.quantityUnit">
                                                <option value="piece">Piece</option>
                                                <option value="centi">Cm</option>
                                                <option value="dozen">Dozen</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-betwen px-4 py-1">
                                    <label>Cargo Weight</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="cargo" [(ngModel)]="product.cargoWeight">
                                </div><span>desi-kg</span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Condition</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <select class="form-control" [(ngModel)]="product.condition">
                                        <option value="active">Active</option>
                                        <option value="passive">Passive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('price')">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mt-5" *ngIf="currentMenu == 'price'">
                        <p class="h4 font-weight-bold">Price</p>
                        <hr>
                        <form>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Price 2</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="price2" [(ngModel)]="product.price2">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Price 3</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="price3" [(ngModel)]="product.price3">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Price 4</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="price4" [(ngModel)]="product.price4">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Price 5</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="price5" [(ngModel)]="product.price5">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Purchase Price</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="purchase" [(ngModel)]="product.purchasePrice">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>VAT</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="vat" [(ngModel)]="product.vat">
                                </div><span>%</span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Market Price</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="market" [(ngModel)]="product.marketPrice">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Discount Type</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <select class="form-control" name="discountType" [(ngModel)]="product.discountType">
                                        <option value="percentage">Percentage Discount</option>
                                        <option valuse="Discounted Price"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Discount</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="discount" [(ngModel)]="product.discount">
                                </div><span class="required small">* The reduced price is only valid for 'Price 1'. The
                                    discounted price value cannot be negative.
                                </span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Transfer</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="transfre" [(ngModel)]="product.transfer">
                                </div>% <span class="required small">* Remittance discount percentage must be between
                                    0-100
                                </span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Shipping Cost</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <input type="number" class="form-control" name="transfre" [(ngModel)]="product.shippingCost">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2"></div>
                                <div class="col-2">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('newProduct')">Back</button>
                                        <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('productDetail')">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mt-5" *ngIf="currentMenu == 'productDetail'">
                        <p class="h4 font-weight-bold">Product Detail</p>
                        <hr>
                        <form>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Product Feature</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <select class="form-control" name="productFeature" [(ngModel)]="product.productFeature">
                                        <option value="">Choose</option>
                                        <option value="{{ feature.name }}" *ngFor="let feature of featuresData">{{ feature.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3" *ngIf="product.productFeature">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>{{ product.productFeature }}</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <select class="form-control" name="featureValue" [(ngModel)]="product.featureValue">
                                        <option value="">Choose</option>
                                        <option value="{{ value }}" *ngFor="let value of getFeatureValues()">{{ value }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>More Information</label><span>:</span>
                                </div>
                                <div class="col-6">
                                    <div class="NgxEditor__Wrapper">
                                        <ckeditor [editor]="Editor" [(ngModel)]="product.moreInformation"></ckeditor>

                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Detailed Information(Extra)</label><span>:</span>
                                </div>
                                <div class="col-6">
                                    <div class="NgxEditor__Wrapper">
                                        <ckeditor [editor]="Editor" [(ngModel)]="product.detailedInformation"></ckeditor>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Private Information Area</label><span>:</span>
                                </div>
                                <div class="form-check col-1 ml-3 mr-0">

                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value="" [(ngModel)]="product.privateInformationArea">&nbsp;&nbsp;<span
                                            class="fa fa-question"
                                            title="The information added to this filed will be lacated in a tab such as Product Information, Reviews..."></span>
                                    </label>

                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Hood</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="food" [(ngModel)]="product.hood">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Content</label><span>:</span>
                                </div>
                                <div class="col-6">
                                    <div class="NgxEditor__Wrapper">
                                        <ckeditor [editor]="Editor" [(ngModel)]="product.content"></ckeditor>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Short Description</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <textarea class="form-control" name="shortDescription" rows="3" [(ngModel)]="product.shortDescription"></textarea>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Site Search Tags</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <textarea class="form-control" name="siteSearch" rows="3" [(ngModel)]="product.siteSearchTags"></textarea>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('price')">Back</button>
                                        <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('other')">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mt-5" *ngIf="currentMenu == 'other'">
                        <p class="h4 font-weight-bold">Other</p>
                        <hr>
                        <form>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Warranty Period</label><span>:</span>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" name="warranty" [(ngModel)]="product.warrantyPeriod">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Gifted</label><span>:</span>
                                </div>
                                <div class="col-3 d-flex justify-content-between">
                                    <input type="text" class="form-control" name="gift" [(ngModel)]="product.gifted">
                                </div><span class="fa fa-question"></span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Using N11 Integration</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="true" name="n11" [(ngModel)]="product.usingN11Integration">Yes
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="false" name="n11" [(ngModel)]="product.usingN11Integration">No
                                        </label>
                                    </div><span class="fa fa-question"></span>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Using GG Integration</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="true" name="gg" [(ngModel)]="product.usingGGIntegration">Yes
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="false" name="gg" [(ngModel)]="product.usingGGIntegration">No
                                        </label>
                                    </div><span class="fa fa-question"></span>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Using HB Integration</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="true" name="hb" [(ngModel)]="product.usingHBIntegration">Yes
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="false" name="hb" [(ngModel)]="product.usingHBIntegration">No
                                        </label>
                                    </div><span class="fa fa-question"></span>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Using Amazon Integration</label><span>:</span>
                                </div>
                                <div class="col-2">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="true" name="amazon" [(ngModel)]="product.usingAmazonIntegration">Yes
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" value="false" name="amazon" [(ngModel)]="product.usingAmazonIntegration">No
                                        </label>
                                    </div><span class="fa fa-question"></span>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Picture 1</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="file" class="form-control-file border" name="picture1" (change)="onPicture1Select($event)" #UploadFileInput1>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Picture 2</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="file" class="form-control-file border" name="picture2" (change)="onPicture2Select($event)" #UploadFileInput2>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Picture 3</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="file" class="form-control-file border" name="picture3" (change)="onPicture3Select($event)" #UploadFileInput3>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Picture 4</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="file" class="form-control-file border" name="picture4" (change)="onPicture4Select($event)" #UploadFileInput4>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Picture 5</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="file" class="form-control-file border" name="picture5" (change)="onPicture5Select($event)" #UploadFileInput5>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Picture 6</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="file" class="form-control-file border" name="picture6" (change)="onPicture6Select($event)" #UploadFileInput6>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Picture 7</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="file" class="form-control-file border" name="picture7" (change)="onPicture7Select($event)" #UploadFileInput7>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Picture 8</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="file" class="form-control-file border" name="picture8" (change)="onPicture8Select($event)" #UploadFileInput8>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Recommanded Product</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="recommand" [(ngModel)]="product.recommendedProducts">
                                </div>
                                <span class="small"><i class="fa fa-plus"></i>&nbsp;&nbsp;(Write the IDs of products you
                                    want, separated by commas)</span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between px-4 py-1">
                                    <label>Combined Product</label><span>:</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="combine" [(ngModel)]="product.combinedProducts">
                                </div>
                                <span class="small"><i class="fa fa-plus"></i>&nbsp;&nbsp;(Write the IDs of products you
                                    want, separated by commas)</span>
                            </div>
                            <div class="row my-3">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('productDetail')">Back</button>
                                        <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('variants')">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mt-5" *ngIf="currentMenu == 'variants'">
                        <p class="h4 font-weight-bold">Variants</p>
                        <hr>
                        <div class="row">
                            <div class="col-md" *ngFor="let variant of variants">
                                <input type="checkbox" (change)="addOrRemoveVariant($event.target.checked, variant.name)"/>&nbsp;&nbsp;<span>{{ variant.name }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" *ngFor="let variant of selectedVariants | keyvalue">
                                <span>{{ variant.key }}</span>
                                <ng-select [items]="getVariantValues(variant.key)" [multiple]="true" [(ngModel)]="selectedVariants[variant.key]">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary btn-sm"
                                        (click)="gotoPage('other')">Back</button>
                                    <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                    <button type="button" class="btn btn-secondary btn-sm"
                                        (click)="gotoPage('seoInfor')">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5" *ngIf="currentMenu == 'seoInfor'">
                        <p class="h4 font-weight-bold">SEO Information</p>
                        <hr>
                        <form>
                            <div class="row my-3">
                                <div class="col-3 d-flex justify-content-between">
                                    <label>Product page title</label><span>:</span>
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control" name="warranty" [(ngModel)]="product.productPageTitle">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-3 d-flex justify-content-between">
                                    <label class="sm">Keywords</label><span>:</span>
                                </div>
                                <div class="col-7">
                                    <textarea class="form-control" name="keyword" rows="3" [(ngModel)]="product.keywords"></textarea>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-3 d-flex justify-content-between">
                                    <label class="sm">Explanation</label><span>:</span>
                                </div>
                                <div class="col-7">
                                    <textarea class="form-control" name="explanation" rows="3" [(ngModel)]="product.explanation"></textarea>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('variants')">Back</button>
                                        <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('seoTag')">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mt-5" *ngIf="currentMenu == 'seoTag'">
                        <p class="h4 font-weight-bold">Seo + Tag System</p>
                        <hr>
                        <form>
                            <div class="row my-3">
                                <div class="col-3 d-flex justify-content-between">
                                    <label class="sm">SEO + Tagging</label><span>:</span>
                                </div>
                                <div class="col-7">
                                    <textarea class="form-control" name="keyword" rows="3" [(ngModel)]="product.seoTagging"></textarea>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('seoInfor')">Back</button>
                                        <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('countdown')">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mt-5" *ngIf="currentMenu == 'countdown'">
                        <p class="h4 font-weight-bold">Countdown</p>
                        <hr>
                        <form>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between">
                                    <label class="sm">Countdown Feature</label><span>:</span>
                                </div>
                                <div class="col-7">
                                    <input type="radio" value="active" [(ngModel)]="product.countdownFeature"> Active <input type="radio"  value="passive" [(ngModel)]="product.countdownFeature"> Passive
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between">
                                    <label class="sm">Countdown Start</label><span>:</span>
                                </div>
                                <div class="col-7">
                                    <input type="date" [(ngModel)]="product.countdownStartDate"> <input type="time" [(ngModel)]="product.countdownStartTime">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between">
                                    <label class="sm">Countdown End</label><span>:</span>
                                </div>
                                <div class="col-7">
                                    <input type="date" [(ngModel)]="product.countdownEndDate"> <input type="time" [(ngModel)]="product.countdownEndTime">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between">
                                    <label class="sm">Throwing the Product into the Basket</label><span>:</span>
                                </div>
                                <div class="col-7">
                                    <input type="date" [(ngModel)]="product.throwProductDate"> <input type="time" [(ngModel)]="product.throwProductTime">
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('seoTag')">Back</button>
                                        <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('customize')">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="mt-5" *ngIf="currentMenu == 'customize'">
                        <p class="h4 font-weight-bold">Customize</p>
                        <hr>
                        <form>
                            <div class="row my-3">
                                <div class="col-2 d-flex justify-content-between">
                                    <label class="sm">Customize</label><span>:</span>
                                </div>
                                <div class="col-7">
                                    <ng-select [items]="['Uniform', 'Personalized Product']" [multiple]="true" [(ngModel)]="product.customize">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            (click)="gotoPage('seoTag')">Back</button>
                                        <button type="button" class="btn btn-success btn-sm" (click)="save()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>