<div class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title"><i class="fa fa-play-circle"></i>&nbsp;&nbsp;Category</h6>
                    </div>
                    <div class="card-body">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#addCategory">Add</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="remove()">Delete</button>
                        </div>

                        <hr class="my-4">

                        <ag-grid-angular #agGrid style="width: 100%; height:510px;" class="ag-theme-alpine"
                            [rowData]="categories" [columnDefs]="columnDefs" [pagination]="true"
                            [paginationPageSize]="10" rowSelection="multiple" [defaultColDef]="defaultColDef"
                            (cellValueChanged)="onCellValueChanged($event)" (selectionChanged)="onSelectionChanged($event)">
                        </ag-grid-angular>
                    </div>
                </div>

                <div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel"><i
                                        class="fa fa-play-circle"></i>&nbsp;&nbsp;Add Category</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="px-4">
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between"><label class="sm">First
                                                Name</label><span>:</span></div>
                                        <div class="col-4">
                                            <input type="text" class="form-control form-control-sm" name="firstName">
                                        </div><span class="require">*</span>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between"><label class="sm">Category
                                                Url</label><span>:</span></div>
                                        <div class="col-4">
                                            <input type="text" class="form-control form-control-sm" name="url" disabled
                                                value="rozetka.com.ua/api/category/">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="form-control form-control-sm" name="urlId">
                                        </div><span class="fa fa-question"></span>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between"><label class="sm">Sequence
                                                No</label><span>:</span></div>
                                        <div class="col-4">
                                            <input type="text" class="form-control form-control-sm" name="sequence">
                                        </div><span class="require">*</span>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between"><label class="sm">Price
                                                Ratio</label><span>:</span></div>

                                        <div class="col-4">
                                            <input type="text" class="form-control form-control-sm" name="price">
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between"><label class="sm">Mark as
                                                Combine</label><span>:</span></div>
                                        <div class="col-4">
                                            <div class="checkbox">
                                                <label><input type="checkbox" value="">&nbsp;&nbsp;<span
                                                        class="fa fa-question"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between"><label class="sm">Label
                                                Title</label><span>:</span></div>
                                        <div class="col-4">
                                            <input type="text" class="form-control" name="labelTitle">
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between"><label
                                                class="sm">Keywords</label><span>:</span></div>

                                        <div class="col-7">
                                            <textarea class="form-control" name="keyword" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-3 d-flex justify-content-between"><label
                                                class="sm">Explaination</label><span>:</span></div>
                                        <div class="col-7">
                                            <textarea class="form-control" name="explaination" rows="3"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary btn-sm"
                                        data-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-primary btn-sm">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>